/* header */
nav>a , li>a{
    text-decoration: none;
    display: inline;
    color: white;
}
ul,li{
    display: inline;
   margin-left: 16px;

}

.icons{
   margin-left: 420px;
}
/* home */
.carousel{
    height: 50%;
}
.card-img-top{
    height: 70%;
    margin-top: 5px;
}

